USE [sgca]
GO
/****** Object:  User [o2mnet_sql]    Script Date: 17/02/2016 17:37:30 ******/
CREATE USER [o2mnet_sql] FOR LOGIN [o2mnet_sql] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [o2mnet_sql]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [o2mnet_sql]
GO
ALTER ROLE [db_datareader] ADD MEMBER [o2mnet_sql]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [o2mnet_sql]
GO
/****** Object:  Table [dbo].[TB_ACAO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ACAO](
	[CODIGO_ACAO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_TICKET] [int] NOT NULL,
	[CODIGO_ETAPA] [int] NULL,
	[CODIGO_CATEGORIA] [int] NULL,
	[CODIGO_STATUS_ACAO_SAP] [int] NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[MENSAGEM] [varchar](max) NULL,
	[DETALHE_ACAO] [varchar](max) NULL,
	[ID_PONTO_FOCAL] [int] NULL,
	[PATH_UPLOAD] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_ACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_ANEXO_TICKET]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ANEXO_TICKET](
	[CODIGO_ANEXO_TICKET] [int] NOT NULL,
	[CODIGO_TICKET] [int] NOT NULL,
	[CAMINHO_ANEXO] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_ANEXO_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_AREA]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_AREA](
	[CODIGO_AREA] [int] IDENTITY(1,1) NOT NULL,
	[IDENTIFICACAO_AREA] [varchar](10) NULL,
	[DESCRICAO_AREA] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_AREA_PROCESSO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_AREA_PROCESSO](
	[CODIGO_AREA_PROCESSO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_AREA_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CATEGORIA]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CATEGORIA](
	[CODIGO_CATEGORIA] [int] NOT NULL,
	[DESCRICAO_CATEGORIA] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CONFIG_EMAIL]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CONFIG_EMAIL](
	[CODIGO_CONFIG] [int] NOT NULL,
	[EMAIL_REMETENTE] [varchar](150) NOT NULL,
	[NOME_REMETENTE] [varchar](150) NOT NULL,
	[SERVIDOR_EMAIL] [varchar](250) NOT NULL,
	[USUARIO_EMAIL] [varchar](150) NOT NULL,
	[SENHA_EMAIL] [varchar](250) NOT NULL,
	[PORTA_EMAIL] [int] NOT NULL,
	[CHAR_SSL] [char](1) NOT NULL,
 CONSTRAINT [PK_TB_CONFIG_EMAIL] PRIMARY KEY CLUSTERED 
(
	[CODIGO_CONFIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_DEMANDA]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_DEMANDA](
	[CODIGO_DEMANDA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO_DEMANDA] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_DEMANDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_DEMANDA_PROCESSO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_DEMANDA_PROCESSO](
	[CODIGO_DEMANDA_PROCESSO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_DEMANDA_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_ETEPA]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ETEPA](
	[CODIGO_ETAPA] [int] NOT NULL,
	[DESCRICAO_ETAPA] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_ETAPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_FLUXO_ATENDIMENTO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_FLUXO_ATENDIMENTO](
	[CODIGO_FLUXO_ATENDIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO_FLUXO_ATENDIMENTO] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_FLUXO_ATENDIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_FUNCAO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_FUNCAO](
	[ID_FUNCAO] [int] IDENTITY(1,1) NOT NULL,
	[ACAO] [varchar](50) NOT NULL,
	[CONTROLE] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_FUNCIONALIDADE]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_FUNCIONALIDADE](
	[CODIGO_FUNCIONALIDADE] [int] IDENTITY(1,1) NOT NULL,
	[TELA] [varchar](50) NOT NULL,
	[ACAO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_FUNCIONALIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_GRUPO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_GRUPO](
	[CODIGO_GRUPO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_IMPORTACAO_HISTORICO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_IMPORTACAO_HISTORICO](
	[CODIGO_IMPORTACAO_HISTORICO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_ARQUIVO] [varchar](250) NOT NULL,
	[DATA_IMPORTACAO] [datetime] NULL,
	[QUANTIDADE_REGISTRO_NOVO] [int] NULL,
	[QUANTIDADE_REGISTRO_ATUALIZADO] [int] NULL,
	[QUANTIDADE_REGISTRO_FALHA] [int] NULL,
	[CODIGO_USUARIO] [int] NOT NULL,
	[STATUS] [varchar](50) NOT NULL,
	[DATA_ADICAO] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_LOG_ERRO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_LOG_ERRO](
	[CODIGO_LOG_ERRO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_FUNCIONALIDADE] [int] NULL,
	[DETALHE_ERRO] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_LOG_ERRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_MOBILIDADE]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_MOBILIDADE](
	[CODIGO_MOBILIDADE] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_NOTA] [int] NOT NULL,
	[STATUS_OS] [varchar](30) NULL,
	[SUBCATEGORIA_OS] [varchar](40) NULL,
	[ZONA_ATENDIMENTO] [int] NULL,
	[REGISTRO_GASISTA] [varchar](20) NULL,
	[NOME_GASISTA] [varchar](100) NULL,
	[VIATURA] [varchar](20) NULL,
	[DESCRICAO_MATERIAL] [varchar](max) NULL,
	[QUANTIDADE] [int] NULL,
	[VALOR] [decimal](11, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_MOBILIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_NOTA]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_NOTA](
	[CODIGO_NOTA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_AREA] [int] NOT NULL,
	[CODIGO_GRUPO] [int] NOT NULL,
	[CODIGO_USUARIO_RESPONSAVEL] [int] NULL,
	[CODIGO_TICKET] [int] NULL,
	[CODIGO_STATUS_NOTA] [int] NOT NULL,
	[NUMERO_NOTA] [bigint] NOT NULL,
	[PENDENCIA_NS] [varchar](100) NULL,
	[TIPO_NOTA] [varchar](5) NULL,
	[NOTA_REGULARIZACAO] [varchar](50) NULL,
	[STATUS_NOTA_SAP] [varchar](30) NULL,
	[STATUS_NOTA_USUARIO] [varchar](30) NULL,
	[ID_INSTALACAO] [bigint] NULL,
	[CIDADE] [varchar](50) NULL,
	[BAIRRO] [varchar](50) NULL,
	[ENDERECO] [varchar](200) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[ANOTACOES] [varchar](max) NULL,
	[INICIO_ATENDIMENTO] [datetime] NULL,
	[FIM_ATENDIMENTO] [datetime] NULL,
	[DATA_INSTALACAO] [datetime] NULL,
	[MENSAGEM] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_NOTA_HISTORICO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_NOTA_HISTORICO](
	[CODIGO_NOTA_HISTORICO] [int] NOT NULL,
	[CODIGO_TICKET] [int] NULL,
	[CODIGO_GRUPO] [int] NULL,
	[CODIGO_AREA] [int] NULL,
	[CODIGO_USUARIO_RESPONSAVEL] [int] NULL,
	[CODIGO_STATUS_NOTA] [int] NULL,
	[NUMERO_NOTA] [bigint] NULL,
	[PENDENCIA_NS] [varchar](100) NULL,
	[TIPO_NOTA] [varchar](5) NULL,
	[NOTA_REGULARIZACAO] [varchar](50) NULL,
	[STATUS_NOTA_SAP] [varchar](30) NULL,
	[STATUS_NOTA_USUARIO] [varchar](30) NULL,
	[ID_INSTALACAO] [bigint] NULL,
	[BAIRRO] [varchar](50) NULL,
	[CIDADE] [varchar](50) NULL,
	[ENDERECO] [varchar](200) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[ANOTACOES] [varchar](max) NULL,
	[INICIO_ATENDIMENTO] [datetime] NULL,
	[FIM_ATENDIMENTO] [datetime] NULL,
	[ACAO] [char](1) NOT NULL,
	[DATA_EVENTO] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PENDENCIA_NOTA]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PENDENCIA_NOTA](
	[CODIGO_PENDENCIA_NOTA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_NOTA] [int] NOT NULL,
	[SEGMENTO_CLIENTE] [varchar](50) NULL,
	[INICIO_DESEJADO] [datetime] NULL,
	[CENTRAB_RESPON] [varchar](20) NULL,
	[NUMERO_APARTAMENTO] [int] NULL,
	[DESCRICAO] [varchar](max) NULL,
	[CODIGO_PENDECIA] [varchar](10) NULL,
	[TEXTO_CODE_CODIFICACAO] [varchar](50) NULL,
	[DATA_CRIACAO] [datetime] NULL,
	[MENSAGEM_ERRO] [varchar](max) NULL,
	[DATA_CRIACAO_A104] [datetime] NULL,
	[DATA_ENCERRAMENTO_SAP] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_PENDENCIA_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PERFIL]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PERFIL](
	[CODIGO_PERFIL] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PERFIL_FLUXO_ATENDIMENTO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERFIL_FLUXO_ATENDIMENTO](
	[CODIGO_FLUXO_ATENDIMENTO] [int] NOT NULL,
	[CODIGO_PERFIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_FLUXO_ATENDIMENTO] ASC,
	[CODIGO_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_PERFIL_FUNCIONALIDADE]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERFIL_FUNCIONALIDADE](
	[CODIGO_FUNCIONALIDADE] [int] NOT NULL,
	[CODIGO_PERFIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_FUNCIONALIDADE] ASC,
	[CODIGO_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_PONTO_FOCAL]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PONTO_FOCAL](
	[CODIGO_PONTO_FOCAL] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PONTO_FOCAL] [varchar](50) NOT NULL,
	[EMAIL_PONTO_FOCAL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_PONTO_FOCAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PROCESSO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PROCESSO](
	[CODIGO_PROCESSO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_USUARIO_RESPONSAVEL] [int] NULL,
	[CODIGO_DEMANDA_PROCESSO] [int] NULL,
	[CODIGO_TIPO_SOLICITACAO] [int] NULL,
	[CODIGO_STATUS_PROCESSO] [int] NULL,
	[CODIGO_AREA_PROCESSO] [int] NULL,
	[CODIGO_FLUXO_ATENDIMENTO] [int] NULL,
	[NUMERO_PROCESSO] [bigint] NULL,
	[SLA_CLIENTE] [varchar](50) NULL,
	[OBSERVACAO] [varchar](max) NULL,
	[DATA_CRIACAO] [datetime] NULL,
	[DATA_EXTRACAO] [date] NULL,
	[DATA_ENCERRAMENTO] [date] NULL,
	[ATENDIMENTO_OUTRA_AREA] [bit] NOT NULL,
	[ATENDIMENTO_AUTOMATICO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PROCESSO_HISTORICO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PROCESSO_HISTORICO](
	[CODIGO_PROCESSO_HISTORICO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_PROCESSO] [int] NOT NULL,
	[CODIGO_USUARIO_RESPONSAVEL] [int] NULL,
	[CODIGO_DEMANDA_PROCESSO] [int] NULL,
	[CODIGO_TIPO_SOLICITACAO] [int] NULL,
	[CODIGO_STATUS_PROCESSO] [int] NULL,
	[CODIGO_AREA_PROCESSO] [int] NULL,
	[CODIGO_FLUXO_ATENDIMENTO] [int] NULL,
	[NUMERO_PROCESSO] [int] NULL,
	[SLA_CLIENTE] [varchar](50) NULL,
	[OBSERVACAO] [varchar](1) NULL,
	[DATA_CRIACAO] [datetime] NULL,
	[DATA_EXTRACAO] [date] NULL,
	[DATA_ENCERRAMENTO] [date] NULL,
	[ATENDIMENTO_OUTRA_AREA] [bit] NULL,
	[ATENDIMENTO_AUTOMATICO] [bit] NULL,
	[INICIO_ATENDIMENTO] [datetime] NULL,
	[FINAL_ATENDIMENTO] [datetime] NULL,
	[ENVIADO_LEGADO] [datetime] NULL,
	[RETORNO_LEGADO] [datetime] NULL,
	[ACAO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROCESSO_HISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_STATUS]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_STATUS](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[dsc_descricao] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_STATUS_ACAO_SAP]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_STATUS_ACAO_SAP](
	[CODIGO_STATUS_ACAO_SAP] [int] NOT NULL,
	[DESCRICAO_STATUS_ACAO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_STATUS_ACAO_SAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_STATUS_NOTA]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_STATUS_NOTA](
	[CODIGO_STATUS_NOTA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](200) NOT NULL,
	[CODIGO_GRUPO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_STATUS_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_STATUS_PROCESSO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_STATUS_PROCESSO](
	[CODIGO_STATUS_PROCESSO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_STATUS_PROCESSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_STATUS_TICKET]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_STATUS_TICKET](
	[CODIGO_STATUS_TICKET] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO_STATUS_TICKET] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_STATUS_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TELA]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TELA](
	[id_tela] [int] IDENTITY(1,1) NOT NULL,
	[dsc_descricao] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TB_TELA] PRIMARY KEY CLUSTERED 
(
	[id_tela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TELA_PERFIL]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TELA_PERFIL](
	[cod_tela] [int] NOT NULL,
	[cod_perfil] [int] NOT NULL,
 CONSTRAINT [PK_TB_TELA_PERFIL] PRIMARY KEY CLUSTERED 
(
	[cod_tela] ASC,
	[cod_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_TICKET]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TICKET](
	[CODIGO_TICKET] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_STATUS_TICKET] [int] NOT NULL,
	[CODIGO_DEMANDA] [int] NOT NULL,
	[CODIGO_FLUXO_ATENDIMENTO] [int] NOT NULL,
	[NUMERO_TICKET] [bigint] NULL,
	[SLA_CLIENTE] [varchar](50) NULL,
	[DATA_CRIACAO] [datetime] NULL,
	[DATA_EXTRACAO] [datetime] NULL,
	[DATA_ENCERRAMENTO] [datetime] NULL,
	[TIPO_SOLICITACAO] [varchar](200) NULL,
	[ATENDIMENTO_OUTRA_AREA] [bit] NOT NULL,
	[ATENDIMENTO_AUTOMATICO] [bit] NULL,
	[ATIVIDADE] [varchar](100) NULL,
	[MENSAGENS] [varchar](8000) NULL,
	[DATA_SALVO] [datetime] NULL,
	[ENVIO_LEGADO] [datetime] NULL,
	[RETORNO_LEGADO] [datetime] NULL,
	[CONTADOR_PROCESSO] [datetime] NULL,
	[PROCESSO_ENCERRADO] [datetime] NULL,
	[MENSAGEM_RETORNO] [varchar](100) NULL,
	[STATUS_RETORNO] [varchar](100) NULL,
	[JUSTIFICATIVA_PRIORIZACAO] [varchar](max) NULL,
	[CODIGO_TIPO_SOLICITACAO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TICKET_HISTORICO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TICKET_HISTORICO](
	[ID_TICKET_HISTORICO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_TICKET] [int] NULL,
	[DATA_INICIO] [datetime] NULL,
	[DATA_FIM] [datetime] NULL,
	[CODIGO_STATUS_TICKET] [int] NULL,
	[ANOTACOES] [varchar](max) NULL,
 CONSTRAINT [PK_TB_TICKET_HISTORICO] PRIMARY KEY CLUSTERED 
(
	[ID_TICKET_HISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TIPO_SOLICITACAO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TIPO_SOLICITACAO](
	[CODIGO_TIPO_SOLICITACAO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO_TIPO_SOLICITACAO] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_TIPO_SOLICITACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[CODIGO_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[LOGIN] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[TELEFONE] [varchar](15) NULL,
	[PRIMEIRO_ACESSO] [bit] NULL,
	[COD_STATUS] [int] NULL,
	[CPF] [varchar](11) NULL,
	[COD_PERFIL] [int] NULL,
	[NUM_TENTATIVAS] [int] NULL,
	[SENHA] [varchar](8000) NULL,
	[FL_ATIVO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_USUARIO_GRUPO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO_GRUPO](
	[CODIGO_USUARIO] [int] NOT NULL,
	[CODIGO_GRUPO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_USUARIO] ASC,
	[CODIGO_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_USUARIO_HISTORICO]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_USUARIO_HISTORICO](
	[CODIGO_USUARIO_HISTORICO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_USUARIO] [int] NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[LOGIN] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[ATIVO] [bit] NOT NULL,
	[TELEFONE] [int] NULL,
	[DATA_ALTERCAO] [datetime] NOT NULL,
	[ACAO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_USUARIO_HISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_USUARIO_PERFIL]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO_PERFIL](
	[CODIGO_USUARIO] [int] NOT NULL,
	[CODIGO_PERFIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_USUARIO] ASC,
	[CODIGO_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ViewMobilidadePendencias]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ViewMobilidadePendencias]
AS
SELECT 
NOTA.CODIGO_NOTA,
--IMPORTACAO_HISTORICO.DATA_IMPORTACAO 
NOTA.NUMERO_NOTA,
NOTA.TIPO_NOTA,
NOTA.INICIO_ATENDIMENTO,
--NOTA.FIM_ATENDIMENTO,
NOTA.DATA_INSTALACAO,
STATUS_NOTA.DESCRICAO AS DESCRICAO_STATUS_NOTA,
STATUS.dsc_descricao,
PENDENCIA_NOTA.SEGMENTO_CLIENTE,
PENDENCIA_NOTA.TEXTO_CODE_CODIFICACAO,
PENDENCIA_NOTA.CODIGO_PENDENCIA_NOTA,
PENDENCIA_NOTA.DESCRICAO,
AREA.IDENTIFICACAO_AREA,
AREA.DESCRICAO_AREA,
--STATUS.dsc_descricao,
NOTA.FIM_ATENDIMENTO,
USUARIO.NOME,
GRUPO.DESCRICAO as DESCRICAO_GRUPO ,
USUARIO.CODIGO_USUARIO,
NOTA.OBSERVACAO

FROM TB_NOTA NOTA
LEFT JOIN TB_PENDENCIA_NOTA PENDENCIA_NOTA
ON NOTA.CODIGO_NOTA = PENDENCIA_NOTA.CODIGO_NOTA
INNER JOIN TB_STATUS_NOTA STATUS_NOTA
ON NOTA.CODIGO_STATUS_NOTA = STATUS_NOTA.CODIGO_STATUS_NOTA
INNER JOIN TB_AREA AREA
ON NOTA.CODIGO_AREA = AREA.CODIGO_AREA
INNER JOIN TB_GRUPO GRUPO
ON NOTA.CODIGO_GRUPO = GRUPO.CODIGO_GRUPO
INNER JOIN TB_USUARIO USUARIO
ON NOTA.CODIGO_USUARIO_RESPONSAVEL = USUARIO.CODIGO_USUARIO
--INNER JOIN TB_IMPORTACAO_HISTORICO IMPORTACAO_HISTORICO
--ON USUARIO.CODIGO_USUARIO = IMPORTACAO_HISTORICO.CODIGO_USUARIO 
INNER JOIN TB_STATUS STATUS
ON USUARIO.COD_STATUS = STATUS.id_status



GO
/****** Object:  View [dbo].[vw_pendecias_a104]    Script Date: 17/02/2016 17:37:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_pendecias_a104]
as

select distinct
nota.CODIGO_NOTA as 'CODIGO_NOTA',
getdate() as 'DATA_IMPORTACAO',
pendencia_nota.SEGMENTO_CLIENTE as 'SEGMENTO_CLIENTE',
nota.NUMERO_NOTA as 'NUMERO_NOTA',
nota.TIPO_NOTA as 'TIPO_NOTA',
nota.INICIO_ATENDIMENTO as 'INICIO_ATENDIMENTO',
nota.DATA_INSTALACAO as 'DATA_INSTALACAO',
status_nota.DESCRICAO as 'STATUS_USUARIO',
nota.STATUS_NOTA_USUARIO as 'STATUS_SISTEMA',
pendencia_nota.DESCRICAO as 'TEXTO_CODE_COD',
nota.ENDERECO as 'RUA',
pendencia_nota.NUMERO_APARTAMENTO as 'NUMERO_APARTAMENTO',
nota.CIDADE + ' ' + nota.BAIRRO as 'Local',
pendencia_nota.DESCRICAO as 'DESCRICAO',
pendencia_nota.CODIGO_PENDECIA as 'CODIGO_PENDECIA',
pendencia_nota.DESCRICAO as 'DESCRICAO_PENDENCIA',
nota.CODIGO_AREA as 'CODIGO_AREA',
area.DESCRICAO_AREA as 'DESCRICAO_AREA',
pendencia_nota.DATA_CRIACAO_A104 as 'DATA_CRIACAO_A104',
pendencia_nota.MENSAGEM_ERRO as 'MENSAGEM_ERRO',
pendencia_nota.CENTRAB_RESPON as 'CENTRAB_RESPON',
nota.CODIGO_STATUS_NOTA as 'CODIGO_STATUS_NOTA',
nota.FIM_ATENDIMENTO as 'DATA_ATENDIMENTO_NOTA',
usu.NOME as 'RESPONSAVEL',
grupo.DESCRICAO as 'DESCRICAO_GRUPO'
from
TB_NOTA nota
left join TB_PENDENCIA_NOTA pendencia_nota
on nota.CODIGO_NOTA = pendencia_nota.CODIGO_NOTA
--inner join
--TB_IMPORTACAO_HISTORICO importacao
--on importacao.CODIGO_USUARIO = nota.CODIGO_USUARIO_RESPONSAVEL
inner join TB_STATUS_NOTA status_nota
on status_nota.CODIGO_STATUS_NOTA = nota.CODIGO_STATUS_NOTA
inner join TB_AREA area
on area.CODIGO_AREA = nota.CODIGO_AREA
inner join TB_USUARIO usu
on usu.CODIGO_USUARIO = nota.CODIGO_USUARIO_RESPONSAVEL
inner join TB_GRUPO grupo
on grupo.CODIGO_GRUPO = nota.CODIGO_GRUPO
GO
SET IDENTITY_INSERT [dbo].[TB_ACAO] ON 

INSERT [dbo].[TB_ACAO] ([CODIGO_ACAO], [CODIGO_TICKET], [CODIGO_ETAPA], [CODIGO_CATEGORIA], [CODIGO_STATUS_ACAO_SAP], [OBSERVACAO], [MENSAGEM], [DETALHE_ACAO], [ID_PONTO_FOCAL], [PATH_UPLOAD]) VALUES (1, 44, 0, NULL, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[TB_ACAO] ([CODIGO_ACAO], [CODIGO_TICKET], [CODIGO_ETAPA], [CODIGO_CATEGORIA], [CODIGO_STATUS_ACAO_SAP], [OBSERVACAO], [MENSAGEM], [DETALHE_ACAO], [ID_PONTO_FOCAL], [PATH_UPLOAD]) VALUES (2, 56, 0, NULL, NULL, NULL, NULL, NULL, 1, N'C:\Temp\SVN_UPDATE_SGCA_1600000\SGCA\App_Data\uploads\eula.3082.txt')
SET IDENTITY_INSERT [dbo].[TB_ACAO] OFF
SET IDENTITY_INSERT [dbo].[TB_AREA] ON 

INSERT [dbo].[TB_AREA] ([CODIGO_AREA], [IDENTIFICACAO_AREA], [DESCRICAO_AREA]) VALUES (1, N'A020', N'FATURAMENTO')
INSERT [dbo].[TB_AREA] ([CODIGO_AREA], [IDENTIFICACAO_AREA], [DESCRICAO_AREA]) VALUES (2, N'A073', N'PLANEJ_MATERIAIS')
INSERT [dbo].[TB_AREA] ([CODIGO_AREA], [IDENTIFICACAO_AREA], [DESCRICAO_AREA]) VALUES (3, N'A074', N'PROJETOS_E_MEDIÇÃO')
SET IDENTITY_INSERT [dbo].[TB_AREA] OFF
INSERT [dbo].[TB_CONFIG_EMAIL] ([CODIGO_CONFIG], [EMAIL_REMETENTE], [NOME_REMETENTE], [SERVIDOR_EMAIL], [USUARIO_EMAIL], [SENHA_EMAIL], [PORTA_EMAIL], [CHAR_SSL]) VALUES (1, N'noreply@sgca.com.br', N'SGCA', N'127.0.0.1', N'', N'', 4545, N'n')
SET IDENTITY_INSERT [dbo].[TB_DEMANDA] ON 

INSERT [dbo].[TB_DEMANDA] ([CODIGO_DEMANDA], [DESCRICAO_DEMANDA]) VALUES (1, N'CAP')
INSERT [dbo].[TB_DEMANDA] ([CODIGO_DEMANDA], [DESCRICAO_DEMANDA]) VALUES (2, N'E-mail')
INSERT [dbo].[TB_DEMANDA] ([CODIGO_DEMANDA], [DESCRICAO_DEMANDA]) VALUES (3, N'Inbox Workflow')
SET IDENTITY_INSERT [dbo].[TB_DEMANDA] OFF
INSERT [dbo].[TB_ETEPA] ([CODIGO_ETAPA], [DESCRICAO_ETAPA]) VALUES (1, N'Preenchimento da Solicitação')
INSERT [dbo].[TB_ETEPA] ([CODIGO_ETAPA], [DESCRICAO_ETAPA]) VALUES (2, N'Encerrar Nota de Serviço')
INSERT [dbo].[TB_ETEPA] ([CODIGO_ETAPA], [DESCRICAO_ETAPA]) VALUES (3, N'Realizar ação para encerramento da Nota')
SET IDENTITY_INSERT [dbo].[TB_FLUXO_ATENDIMENTO] ON 

INSERT [dbo].[TB_FLUXO_ATENDIMENTO] ([CODIGO_FLUXO_ATENDIMENTO], [DESCRICAO_FLUXO_ATENDIMENTO]) VALUES (1, N'Solicitação de Materiais')
INSERT [dbo].[TB_FLUXO_ATENDIMENTO] ([CODIGO_FLUXO_ATENDIMENTO], [DESCRICAO_FLUXO_ATENDIMENTO]) VALUES (2, N'Medição')
INSERT [dbo].[TB_FLUXO_ATENDIMENTO] ([CODIGO_FLUXO_ATENDIMENTO], [DESCRICAO_FLUXO_ATENDIMENTO]) VALUES (3, N'Pagamento de Fornecedores')
SET IDENTITY_INSERT [dbo].[TB_FLUXO_ATENDIMENTO] OFF
SET IDENTITY_INSERT [dbo].[TB_GRUPO] ON 

INSERT [dbo].[TB_GRUPO] ([CODIGO_GRUPO], [DESCRICAO]) VALUES (1, N'Priorizaçao')
INSERT [dbo].[TB_GRUPO] ([CODIGO_GRUPO], [DESCRICAO]) VALUES (2, N'Pendência Mobilidade')
INSERT [dbo].[TB_GRUPO] ([CODIGO_GRUPO], [DESCRICAO]) VALUES (3, N'A104')
SET IDENTITY_INSERT [dbo].[TB_GRUPO] OFF
SET IDENTITY_INSERT [dbo].[TB_IMPORTACAO_HISTORICO] ON 

INSERT [dbo].[TB_IMPORTACAO_HISTORICO] ([CODIGO_IMPORTACAO_HISTORICO], [NOME_ARQUIVO], [DATA_IMPORTACAO], [QUANTIDADE_REGISTRO_NOVO], [QUANTIDADE_REGISTRO_ATUALIZADO], [QUANTIDADE_REGISTRO_FALHA], [CODIGO_USUARIO], [STATUS], [DATA_ADICAO]) VALUES (1, N'SGCA_INPUT_DATA_201601291623.csv', CAST(0x0000A59C00FF21A6 AS DateTime), 6, 6, 3, 1, N'teste', CAST(0x0000A59C00FF21A6 AS DateTime))
INSERT [dbo].[TB_IMPORTACAO_HISTORICO] ([CODIGO_IMPORTACAO_HISTORICO], [NOME_ARQUIVO], [DATA_IMPORTACAO], [QUANTIDADE_REGISTRO_NOVO], [QUANTIDADE_REGISTRO_ATUALIZADO], [QUANTIDADE_REGISTRO_FALHA], [CODIGO_USUARIO], [STATUS], [DATA_ADICAO]) VALUES (2, N'Teste1.txt', CAST(0x0000A59C00FF27C8 AS DateTime), 6, 6, 3, 1, N'teste', CAST(0x0000A59C00FF27C8 AS DateTime))
INSERT [dbo].[TB_IMPORTACAO_HISTORICO] ([CODIGO_IMPORTACAO_HISTORICO], [NOME_ARQUIVO], [DATA_IMPORTACAO], [QUANTIDADE_REGISTRO_NOVO], [QUANTIDADE_REGISTRO_ATUALIZADO], [QUANTIDADE_REGISTRO_FALHA], [CODIGO_USUARIO], [STATUS], [DATA_ADICAO]) VALUES (3, N'Teste1.txt', CAST(0x0000A59C00FF3ED4 AS DateTime), 3, 7, 2, 10, N'teste', CAST(0x0000A59C00FF3ED4 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TB_IMPORTACAO_HISTORICO] OFF
SET IDENTITY_INSERT [dbo].[TB_MOBILIDADE] ON 

INSERT [dbo].[TB_MOBILIDADE] ([CODIGO_MOBILIDADE], [CODIGO_NOTA], [STATUS_OS], [SUBCATEGORIA_OS], [ZONA_ATENDIMENTO], [REGISTRO_GASISTA], [NOME_GASISTA], [VIATURA], [DESCRICAO_MATERIAL], [QUANTIDADE], [VALOR]) VALUES (17, 40, N'OS Executada', N'LIGA??O', 38, N'CG00005193', N'INDUSTRIAL IS', N'COM0495', N'"TUBO FLEXIVEL 1,20M FOGÃO 1/2"" ROTATIVO"', 2, CAST(3329.00 AS Decimal(11, 2)))
INSERT [dbo].[TB_MOBILIDADE] ([CODIGO_MOBILIDADE], [CODIGO_NOTA], [STATUS_OS], [SUBCATEGORIA_OS], [ZONA_ATENDIMENTO], [REGISTRO_GASISTA], [NOME_GASISTA], [VIATURA], [DESCRICAO_MATERIAL], [QUANTIDADE], [VALOR]) VALUES (18, 41, N'OS Executada', N'LIGA??O', 38, N'CG00005193', N'INDUSTRIAL IS', N'COM0495', N'"BUCHA 1/2"" ADAPTADOR FOGÃO ACOPL. SAÍDA"', 2, CAST(914.00 AS Decimal(11, 2)))
INSERT [dbo].[TB_MOBILIDADE] ([CODIGO_MOBILIDADE], [CODIGO_NOTA], [STATUS_OS], [SUBCATEGORIA_OS], [ZONA_ATENDIMENTO], [REGISTRO_GASISTA], [NOME_GASISTA], [VIATURA], [DESCRICAO_MATERIAL], [QUANTIDADE], [VALOR]) VALUES (19, 42, N'OS Descartada', N'LIGA??O', 38, N'CG00005193', N'GRANDE COM?RCIO', N'COM0495', N'ANEL VEDAÇÃO P/ FLEXÍVEL DOMÉSTICO FOGÃO', 2, NULL)
SET IDENTITY_INSERT [dbo].[TB_MOBILIDADE] OFF
SET IDENTITY_INSERT [dbo].[TB_NOTA] ON 

SET IDENTITY_INSERT [dbo].[TB_NOTA] OFF
SET IDENTITY_INSERT [dbo].[TB_PENDENCIA_NOTA] ON 

INSERT [dbo].[TB_PENDENCIA_NOTA] ([CODIGO_PENDENCIA_NOTA], [CODIGO_NOTA], [SEGMENTO_CLIENTE], [INICIO_DESEJADO], [CENTRAB_RESPON], [NUMERO_APARTAMENTO], [DESCRICAO], [CODIGO_PENDECIA], [TEXTO_CODE_CODIFICACAO], [DATA_CRIACAO], [MENSAGEM_ERRO], [DATA_CRIACAO_A104], [DATA_ENCERRAMENTO_SAP]) VALUES (7, 56, N'', CAST(0x0000A59C00000000 AS DateTime), N'CON4408', 52, N'CON4408', N'', N'', NULL, N'', NULL, NULL)
INSERT [dbo].[TB_PENDENCIA_NOTA] ([CODIGO_PENDENCIA_NOTA], [CODIGO_NOTA], [SEGMENTO_CLIENTE], [INICIO_DESEJADO], [CENTRAB_RESPON], [NUMERO_APARTAMENTO], [DESCRICAO], [CODIGO_PENDECIA], [TEXTO_CODE_CODIFICACAO], [DATA_CRIACAO], [MENSAGEM_ERRO], [DATA_CRIACAO_A104], [DATA_ENCERRAMENTO_SAP]) VALUES (8, 57, N'', CAST(0x0000A59B00000000 AS DateTime), N'COM0853', 0, N'COM0853', N'', N'', NULL, N'', NULL, NULL)
INSERT [dbo].[TB_PENDENCIA_NOTA] ([CODIGO_PENDENCIA_NOTA], [CODIGO_NOTA], [SEGMENTO_CLIENTE], [INICIO_DESEJADO], [CENTRAB_RESPON], [NUMERO_APARTAMENTO], [DESCRICAO], [CODIGO_PENDECIA], [TEXTO_CODE_CODIFICACAO], [DATA_CRIACAO], [MENSAGEM_ERRO], [DATA_CRIACAO_A104], [DATA_ENCERRAMENTO_SAP]) VALUES (9, 58, N'', CAST(0x0000A59B00000000 AS DateTime), N'COM0856', 0, N'COM0856', N'', N'', NULL, N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TB_PENDENCIA_NOTA] OFF
SET IDENTITY_INSERT [dbo].[TB_PERFIL] ON 

INSERT [dbo].[TB_PERFIL] ([CODIGO_PERFIL], [DESCRICAO]) VALUES (1, N'Administrador')
INSERT [dbo].[TB_PERFIL] ([CODIGO_PERFIL], [DESCRICAO]) VALUES (2, N'Supervisor')
INSERT [dbo].[TB_PERFIL] ([CODIGO_PERFIL], [DESCRICAO]) VALUES (3, N'Supervisor Pendência')
SET IDENTITY_INSERT [dbo].[TB_PERFIL] OFF
INSERT [dbo].[TB_PERFIL_FLUXO_ATENDIMENTO] ([CODIGO_FLUXO_ATENDIMENTO], [CODIGO_PERFIL]) VALUES (79, 1)
SET IDENTITY_INSERT [dbo].[TB_PONTO_FOCAL] ON 

INSERT [dbo].[TB_PONTO_FOCAL] ([CODIGO_PONTO_FOCAL], [NOME_PONTO_FOCAL], [EMAIL_PONTO_FOCAL]) VALUES (1, N'Renata Alves Dos Santos', N'ralvsantos@comgas.com.br')
INSERT [dbo].[TB_PONTO_FOCAL] ([CODIGO_PONTO_FOCAL], [NOME_PONTO_FOCAL], [EMAIL_PONTO_FOCAL]) VALUES (2, N'Silvia Mayumi Shimada', N'SMShimada@comgas.com.br')
INSERT [dbo].[TB_PONTO_FOCAL] ([CODIGO_PONTO_FOCAL], [NOME_PONTO_FOCAL], [EMAIL_PONTO_FOCAL]) VALUES (3, N'Debora Cardoso Vieira', N'dvieira@comgas.com.br')
GO
SET IDENTITY_INSERT [dbo].[TB_PONTO_FOCAL] OFF
SET IDENTITY_INSERT [dbo].[TB_PROCESSO] ON 

INSERT [dbo].[TB_PROCESSO] ([CODIGO_PROCESSO], [CODIGO_USUARIO_RESPONSAVEL], [CODIGO_DEMANDA_PROCESSO], [CODIGO_TIPO_SOLICITACAO], [CODIGO_STATUS_PROCESSO], [CODIGO_AREA_PROCESSO], [CODIGO_FLUXO_ATENDIMENTO], [NUMERO_PROCESSO], [SLA_CLIENTE], [OBSERVACAO], [DATA_CRIACAO], [DATA_EXTRACAO], [DATA_ENCERRAMENTO], [ATENDIMENTO_OUTRA_AREA], [ATENDIMENTO_AUTOMATICO]) VALUES (12, NULL, 1, 11, 1, NULL, 78, 16404, NULL, NULL, CAST(0x0000A52A01170D80 AS DateTime), NULL, CAST(0x863A0B00 AS Date), 0, NULL)
SET IDENTITY_INSERT [dbo].[TB_PROCESSO] OFF
SET IDENTITY_INSERT [dbo].[TB_STATUS] ON 

INSERT [dbo].[TB_STATUS] ([id_status], [dsc_descricao]) VALUES (1, N'ATIVO')
INSERT [dbo].[TB_STATUS] ([id_status], [dsc_descricao]) VALUES (2, N'INATIVO')
SET IDENTITY_INSERT [dbo].[TB_STATUS] OFF
SET IDENTITY_INSERT [dbo].[TB_STATUS_NOTA] ON 

INSERT [dbo].[TB_STATUS_NOTA] ([CODIGO_STATUS_NOTA], [DESCRICAO], [CODIGO_GRUPO]) VALUES (1, N'Aberto', 1)
INSERT [dbo].[TB_STATUS_NOTA] ([CODIGO_STATUS_NOTA], [DESCRICAO], [CODIGO_GRUPO]) VALUES (2, N'Em Andamento', 1)
INSERT [dbo].[TB_STATUS_NOTA] ([CODIGO_STATUS_NOTA], [DESCRICAO], [CODIGO_GRUPO]) VALUES (3, N'Finalizado com Área', 1)
SET IDENTITY_INSERT [dbo].[TB_STATUS_NOTA] OFF
SET IDENTITY_INSERT [dbo].[TB_STATUS_TICKET] ON 

INSERT [dbo].[TB_STATUS_TICKET] ([CODIGO_STATUS_TICKET], [DESCRICAO_STATUS_TICKET]) VALUES (1, N'Aberto')
INSERT [dbo].[TB_STATUS_TICKET] ([CODIGO_STATUS_TICKET], [DESCRICAO_STATUS_TICKET]) VALUES (2, N'Em Atendimento')
INSERT [dbo].[TB_STATUS_TICKET] ([CODIGO_STATUS_TICKET], [DESCRICAO_STATUS_TICKET]) VALUES (3, N'Salvo')
SET IDENTITY_INSERT [dbo].[TB_STATUS_TICKET] OFF
SET IDENTITY_INSERT [dbo].[TB_TELA] ON 

INSERT [dbo].[TB_TELA] ([id_tela], [dsc_descricao]) VALUES (1, N'Solicitacao/CadastroSolicitacao')
INSERT [dbo].[TB_TELA] ([id_tela], [dsc_descricao]) VALUES (2, N'Usuario/ConsultaUsuario')
INSERT [dbo].[TB_TELA] ([id_tela], [dsc_descricao]) VALUES (3, N'Usuario/CadastroUsuario')
SET IDENTITY_INSERT [dbo].[TB_TELA] OFF
INSERT [dbo].[TB_TELA_PERFIL] ([cod_tela], [cod_perfil]) VALUES (1, 1)
INSERT [dbo].[TB_TELA_PERFIL] ([cod_tela], [cod_perfil]) VALUES (1, 2)
INSERT [dbo].[TB_TELA_PERFIL] ([cod_tela], [cod_perfil]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[TB_TICKET] ON 

SET IDENTITY_INSERT [dbo].[TB_TICKET] OFF
SET IDENTITY_INSERT [dbo].[TB_TICKET_HISTORICO] ON 

INSERT [dbo].[TB_TICKET_HISTORICO] ([ID_TICKET_HISTORICO], [CODIGO_TICKET], [DATA_INICIO], [DATA_FIM], [CODIGO_STATUS_TICKET], [ANOTACOES]) VALUES (1, 44, CAST(0x0000A5AA011F8320 AS DateTime), CAST(0x0000A5AA011F8320 AS DateTime), 1, N'undefined')
INSERT [dbo].[TB_TICKET_HISTORICO] ([ID_TICKET_HISTORICO], [CODIGO_TICKET], [DATA_INICIO], [DATA_FIM], [CODIGO_STATUS_TICKET], [ANOTACOES]) VALUES (2, 44, CAST(0x0000A5AA011F8320 AS DateTime), CAST(0x0000A5AA01215588 AS DateTime), 1, N' cwecwecwecwecweeeeeeeeeeeeeeeeeeeeeeeee')
INSERT [dbo].[TB_TICKET_HISTORICO] ([ID_TICKET_HISTORICO], [CODIGO_TICKET], [DATA_INICIO], [DATA_FIM], [CODIGO_STATUS_TICKET], [ANOTACOES]) VALUES (3, 44, CAST(0x0000A5AA011F8320 AS DateTime), CAST(0x0000A5AD0114255C AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[TB_TICKET_HISTORICO] OFF
SET IDENTITY_INSERT [dbo].[TB_TIPO_SOLICITACAO] ON 

INSERT [dbo].[TB_TIPO_SOLICITACAO] ([CODIGO_TIPO_SOLICITACAO], [DESCRICAO_TIPO_SOLICITACAO]) VALUES (1, N'ARSESP')
INSERT [dbo].[TB_TIPO_SOLICITACAO] ([CODIGO_TIPO_SOLICITACAO], [DESCRICAO_TIPO_SOLICITACAO]) VALUES (2, N'RECLAME AQUI')
INSERT [dbo].[TB_TIPO_SOLICITACAO] ([CODIGO_TIPO_SOLICITACAO], [DESCRICAO_TIPO_SOLICITACAO]) VALUES (3, N'OUVIDORIA')
SET IDENTITY_INSERT [dbo].[TB_TIPO_SOLICITACAO] OFF
SET IDENTITY_INSERT [dbo].[TB_USUARIO] ON 

INSERT [dbo].[TB_USUARIO] ([CODIGO_USUARIO], [NOME], [LOGIN], [EMAIL], [TELEFONE], [PRIMEIRO_ACESSO], [COD_STATUS], [CPF], [COD_PERFIL], [NUM_TENTATIVAS], [SENHA], [FL_ATIVO]) VALUES (1, N'ADMIN', N'admin', N'admin@admin.com', N'912345678', 0, NULL, NULL, 1, 0, N'c33b7862c6fdf285116f21d5550ea0c897c37bfe89456768a6a6aba91eb14b22', 1)
INSERT [dbo].[TB_USUARIO] ([CODIGO_USUARIO], [NOME], [LOGIN], [EMAIL], [TELEFONE], [PRIMEIRO_ACESSO], [COD_STATUS], [CPF], [COD_PERFIL], [NUM_TENTATIVAS], [SENHA], [FL_ATIVO]) VALUES (10, N'ugo', N'ugo', N'ugo@tst.com', N'111111111', 0, 1, N'1234567890', 1, 0, N'c33b7862c6fdf285116f21d5550ea0c897c37bfe89456768a6a6aba91eb14b22', 1)
INSERT [dbo].[TB_USUARIO] ([CODIGO_USUARIO], [NOME], [LOGIN], [EMAIL], [TELEFONE], [PRIMEIRO_ACESSO], [COD_STATUS], [CPF], [COD_PERFIL], [NUM_TENTATIVAS], [SENHA], [FL_ATIVO]) VALUES (18, N'User Teste', N'user', N'desouto@gmail.com', N'(21) 11112222', NULL, 1, N'36015660104', 1, 0, N'c33b7862c6fdf285116f21d5550ea0c897c37bfe89456768a6a6aba91eb14b22', 1)
SET IDENTITY_INSERT [dbo].[TB_USUARIO] OFF
INSERT [dbo].[TB_USUARIO_GRUPO] ([CODIGO_USUARIO], [CODIGO_GRUPO]) VALUES (1, 1)
INSERT [dbo].[TB_USUARIO_GRUPO] ([CODIGO_USUARIO], [CODIGO_GRUPO]) VALUES (10, 2)
INSERT [dbo].[TB_USUARIO_GRUPO] ([CODIGO_USUARIO], [CODIGO_GRUPO]) VALUES (18, 1)
INSERT [dbo].[TB_USUARIO_PERFIL] ([CODIGO_USUARIO], [CODIGO_PERFIL]) VALUES (1, 1)
INSERT [dbo].[TB_USUARIO_PERFIL] ([CODIGO_USUARIO], [CODIGO_PERFIL]) VALUES (25, 3)
INSERT [dbo].[TB_USUARIO_PERFIL] ([CODIGO_USUARIO], [CODIGO_PERFIL]) VALUES (26, 2)
ALTER TABLE [dbo].[TB_ACAO]  WITH CHECK ADD  CONSTRAINT [FK_TB_ACAO_TB_PONTO_FOCAL] FOREIGN KEY([ID_PONTO_FOCAL])
REFERENCES [dbo].[TB_PONTO_FOCAL] ([CODIGO_PONTO_FOCAL])
GO
ALTER TABLE [dbo].[TB_ACAO] CHECK CONSTRAINT [FK_TB_ACAO_TB_PONTO_FOCAL]
GO
ALTER TABLE [dbo].[TB_MOBILIDADE]  WITH CHECK ADD  CONSTRAINT [FK__TB_MOBILI__CODIG__3CBF0154] FOREIGN KEY([CODIGO_NOTA])
REFERENCES [dbo].[TB_NOTA] ([CODIGO_NOTA])
GO
ALTER TABLE [dbo].[TB_MOBILIDADE] CHECK CONSTRAINT [FK__TB_MOBILI__CODIG__3CBF0154]
GO
ALTER TABLE [dbo].[TB_NOTA]  WITH CHECK ADD  CONSTRAINT [FK__TB_NOTA__CODIGO___2F650636] FOREIGN KEY([CODIGO_STATUS_NOTA])
REFERENCES [dbo].[TB_STATUS_NOTA] ([CODIGO_STATUS_NOTA])
GO
ALTER TABLE [dbo].[TB_NOTA] CHECK CONSTRAINT [FK__TB_NOTA__CODIGO___2F650636]
GO
ALTER TABLE [dbo].[TB_NOTA]  WITH CHECK ADD  CONSTRAINT [FK__TB_NOTA__CODIGO___30592A6F] FOREIGN KEY([CODIGO_TICKET])
REFERENCES [dbo].[TB_TICKET] ([CODIGO_TICKET])
GO
ALTER TABLE [dbo].[TB_NOTA] CHECK CONSTRAINT [FK__TB_NOTA__CODIGO___30592A6F]
GO
ALTER TABLE [dbo].[TB_NOTA]  WITH CHECK ADD  CONSTRAINT [FK__TB_NOTA__CODIGO___314D4EA8] FOREIGN KEY([CODIGO_USUARIO_RESPONSAVEL])
REFERENCES [dbo].[TB_USUARIO] ([CODIGO_USUARIO])
GO
ALTER TABLE [dbo].[TB_NOTA] CHECK CONSTRAINT [FK__TB_NOTA__CODIGO___314D4EA8]
GO
ALTER TABLE [dbo].[TB_NOTA]  WITH CHECK ADD  CONSTRAINT [FK__TB_NOTA__CODIGO___324172E1] FOREIGN KEY([CODIGO_GRUPO])
REFERENCES [dbo].[TB_GRUPO] ([CODIGO_GRUPO])
GO
ALTER TABLE [dbo].[TB_NOTA] CHECK CONSTRAINT [FK__TB_NOTA__CODIGO___324172E1]
GO
ALTER TABLE [dbo].[TB_NOTA]  WITH CHECK ADD  CONSTRAINT [FK__TB_NOTA__CODIGO___3335971A] FOREIGN KEY([CODIGO_AREA])
REFERENCES [dbo].[TB_AREA] ([CODIGO_AREA])
GO
ALTER TABLE [dbo].[TB_NOTA] CHECK CONSTRAINT [FK__TB_NOTA__CODIGO___3335971A]
GO
ALTER TABLE [dbo].[TB_PENDENCIA_NOTA]  WITH CHECK ADD  CONSTRAINT [FK__TB_PENDEN__CODIG__37FA4C37] FOREIGN KEY([CODIGO_NOTA])
REFERENCES [dbo].[TB_NOTA] ([CODIGO_NOTA])
GO
ALTER TABLE [dbo].[TB_PENDENCIA_NOTA] CHECK CONSTRAINT [FK__TB_PENDEN__CODIG__37FA4C37]
GO
ALTER TABLE [dbo].[TB_PERFIL_FLUXO_ATENDIMENTO]  WITH CHECK ADD FOREIGN KEY([CODIGO_PERFIL])
REFERENCES [dbo].[TB_PERFIL] ([CODIGO_PERFIL])
GO
ALTER TABLE [dbo].[TB_PERFIL_FLUXO_ATENDIMENTO]  WITH CHECK ADD FOREIGN KEY([CODIGO_FLUXO_ATENDIMENTO])
REFERENCES [dbo].[TB_FLUXO_ATENDIMENTO] ([CODIGO_FLUXO_ATENDIMENTO])
GO
ALTER TABLE [dbo].[TB_PERFIL_FUNCIONALIDADE]  WITH CHECK ADD FOREIGN KEY([CODIGO_PERFIL])
REFERENCES [dbo].[TB_PERFIL] ([CODIGO_PERFIL])
GO
ALTER TABLE [dbo].[TB_PERFIL_FUNCIONALIDADE]  WITH CHECK ADD FOREIGN KEY([CODIGO_FUNCIONALIDADE])
REFERENCES [dbo].[TB_FUNCIONALIDADE] ([CODIGO_FUNCIONALIDADE])
GO
ALTER TABLE [dbo].[TB_PROCESSO]  WITH CHECK ADD FOREIGN KEY([CODIGO_FLUXO_ATENDIMENTO])
REFERENCES [dbo].[TB_FLUXO_ATENDIMENTO] ([CODIGO_FLUXO_ATENDIMENTO])
GO
ALTER TABLE [dbo].[TB_PROCESSO]  WITH CHECK ADD FOREIGN KEY([CODIGO_USUARIO_RESPONSAVEL])
REFERENCES [dbo].[TB_USUARIO] ([CODIGO_USUARIO])
GO
ALTER TABLE [dbo].[TB_PROCESSO]  WITH CHECK ADD  CONSTRAINT [FK__TB_PROCES__CODIG__67A95F59] FOREIGN KEY([CODIGO_DEMANDA_PROCESSO])
REFERENCES [dbo].[TB_DEMANDA] ([CODIGO_DEMANDA])
GO
ALTER TABLE [dbo].[TB_PROCESSO] CHECK CONSTRAINT [FK__TB_PROCES__CODIG__67A95F59]
GO
ALTER TABLE [dbo].[TB_PROCESSO]  WITH CHECK ADD FOREIGN KEY([CODIGO_TIPO_SOLICITACAO])
REFERENCES [dbo].[TB_TIPO_SOLICITACAO] ([CODIGO_TIPO_SOLICITACAO])
GO
ALTER TABLE [dbo].[TB_PROCESSO]  WITH CHECK ADD  CONSTRAINT [FK__TB_PROCES__CODIG__6991A7CB] FOREIGN KEY([CODIGO_STATUS_PROCESSO])
REFERENCES [dbo].[TB_STATUS_TICKET] ([CODIGO_STATUS_TICKET])
GO
ALTER TABLE [dbo].[TB_PROCESSO] CHECK CONSTRAINT [FK__TB_PROCES__CODIG__6991A7CB]
GO
ALTER TABLE [dbo].[TB_PROCESSO]  WITH CHECK ADD  CONSTRAINT [FK__TB_PROCES__CODIG__6A85CC04] FOREIGN KEY([CODIGO_AREA_PROCESSO])
REFERENCES [dbo].[TB_AREA] ([CODIGO_AREA])
GO
ALTER TABLE [dbo].[TB_PROCESSO] CHECK CONSTRAINT [FK__TB_PROCES__CODIG__6A85CC04]
GO
ALTER TABLE [dbo].[TB_TICKET]  WITH CHECK ADD FOREIGN KEY([CODIGO_FLUXO_ATENDIMENTO])
REFERENCES [dbo].[TB_FLUXO_ATENDIMENTO] ([CODIGO_FLUXO_ATENDIMENTO])
GO
ALTER TABLE [dbo].[TB_TICKET]  WITH CHECK ADD FOREIGN KEY([CODIGO_DEMANDA])
REFERENCES [dbo].[TB_DEMANDA] ([CODIGO_DEMANDA])
GO
ALTER TABLE [dbo].[TB_TICKET]  WITH CHECK ADD FOREIGN KEY([CODIGO_STATUS_TICKET])
REFERENCES [dbo].[TB_STATUS_TICKET] ([CODIGO_STATUS_TICKET])
GO
ALTER TABLE [dbo].[TB_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TB_TIPO_SOLICITACAO_UserID] FOREIGN KEY([CODIGO_TIPO_SOLICITACAO])
REFERENCES [dbo].[TB_TIPO_SOLICITACAO] ([CODIGO_TIPO_SOLICITACAO])
GO
ALTER TABLE [dbo].[TB_TICKET] CHECK CONSTRAINT [FK_TB_TIPO_SOLICITACAO_UserID]
GO
ALTER TABLE [dbo].[TB_USUARIO_GRUPO]  WITH CHECK ADD FOREIGN KEY([CODIGO_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([CODIGO_USUARIO])
GO
ALTER TABLE [dbo].[TB_USUARIO_GRUPO]  WITH CHECK ADD FOREIGN KEY([CODIGO_GRUPO])
REFERENCES [dbo].[TB_GRUPO] ([CODIGO_GRUPO])
GO
ALTER TABLE [dbo].[TB_USUARIO_PERFIL]  WITH CHECK ADD FOREIGN KEY([CODIGO_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([CODIGO_USUARIO])
GO
ALTER TABLE [dbo].[TB_USUARIO_PERFIL]  WITH CHECK ADD FOREIGN KEY([CODIGO_PERFIL])
REFERENCES [dbo].[TB_PERFIL] ([CODIGO_PERFIL])
GO
