@{
    ViewBag.Title = "SGCA - Erro de Acesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Com base nas políticas de acesso da sua organização, você não tem permissão a esta funcionalidade.
</div>

