@{
    ViewBag.Title = "SGCA - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="watermark" style="opacity:.1;position:absolute;top:25%;left:20%;">
            <img style="width:70%" src="~/Content/Images/MarcaDagua.png" />
    </div>