@using SGCA.Models.Entity

@{
    ViewBag.Title = "SGCA - Primeiro Acesso";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

@* Painel *@
<div class="panel panel-default">

    @* Titulo do Painel *@
    <div class="panel-heading">
        <h4 class="panel-title">@ViewMessagesResource.title_primeiro_acesso</h4>
    </div>

    @*Corpo / Formulario*@
    <div class="panel-body">
        @*Formulário de Cadastro*@
        <span id="partialFormCadastroUsuario">@Html.Partial("_FormCadastroUsuario", new Usuario())</span>
    </div>
</div>
