<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edite os campos</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" id="txtDataImprtacao" class="form-control input-sm" name="txtDataImprtacao" placeholder="Data da Importação" readonly />
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="txtNumNota" class="form-control input-sm" name="txtNumNota" placeholder="Número da Nota" readonly />
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="txtTipoNota" class="form-control input-sm" name="txtTipoNota" placeholder="Tipo de Nota" readonly />
                    </div>
                </div>

                <div class="espacamento-small">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="text" id="txtCodAreaDirecionada" class="form-control input-sm" name="txtCodAreaDirecionada" placeholder="Codigo da Área Direcionada" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtDescAreaDirecionada" class="form-control input-sm" name="txtDescAreaDirecionada" placeholder="Descrição da Área Direcionada" />
                    </div>
                </div>

                <div class="espacamento-small">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="text" id="txtStatus" class="form-control input-sm" name="txtStatus" placeholder="Status" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtNumNota" class="form-control input-sm" name="txtNumNota" placeholder="Número da Nota" readonly />
                    </div>
                </div>

                <div class="espacamento-small">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="text" id="txtDataImprtacao" class="form-control input-sm" name="txtDataImprtacao" placeholder="Data da Importação" readonly />
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtObservacoes" class="form-control input-sm" name="txtObservacoes" placeholder="Observações" />
                    </div>
                </div>

                <div class="espacamento-small">
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <select size="1" id="ddlDtAtendimento" class="form-control input-sm" name="ddlDtAtendimento">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="">Opção 1</option>
                            <option value="">Opção 2</option>
                            <option value="">Opção 3</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <select size="1" id="ddlResponsavel" class="form-control input-sm" name="ddlResponsavel">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="">Opção 1</option>
                            <option value="">Opção 2</option>
                            <option value="">Opção 3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select size="1" id="ddlGrupoAtendimento" class="form-control input-sm" name="ddlGrupoAtendimento">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="">Opção 1</option>
                            <option value="">Opção 2</option>
                            <option value="">Opção 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default btn-lg" style="width: 100%;">Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
